h1 {
    color: brown;
}

.header{
    display:flex ;
    background-color : blue ; 
    justify-content: space-between
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}